.cljc{
    width: 1200px;
    margin:  0 auto;
    /* overflow: hidden; */
    position: relative;
}
.headline{
    padding: 20px 0 0 0;
}
.headline h4{
    font-size: 18px;
    width: 100px;
    text-align: center;
    border-left: 4px solid #ff5a37;
}
.gjjc-headline{
    width: 98%;
    height: 50px;
}
.gjjc-headline p span{
    display: block;
    height: 50px;
}
.gjjc-headline p{
    overflow: hidden;
}
.gjjc-headline p .span1{
    width: 16%;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    background: #fe5842;
    text-align: center;
    float: left;
}
.gjjc-headline p .span3{
width: 4%;
background: #f9f9f9;
height: 50px;
float: left;
}
.gjjc-headline p .span2{
    width: 80%;
    color: #999;
    font-size: 14px;
    line-height: 50px;
    background: #f9f9f9;
    text-align:left;
    float: right
}
.styles{
    position: relative;
    height: 100%;
}
.lefts .gjjc-headline {
    margin: 0;
}
.styles .styles-active1{
    width: 560px;
    height: 440px;
    background: url(../img/gujia.png) 0px 85px no-repeat;
    position: relative;
    margin-left: 30px;
    float: left;
    margin-top: 80px;
}
.styles .styles-active2{
    width: 560px;
    height: 400px;
    background: url(../img/waiguan.jpg) 0px 0px no-repeat;
    position: relative;
    margin-top: 100px;
    margin-left: 45px;
    float: left;
}
.styles .styles-active3{
    width: 560px;
    height: 400px;
    background: url(../img/neishi.jpg) 0px 0px no-repeat;
    position: relative;
    margin-top: 82px;
    margin-left: 45px;
    float: left;
}
.styles-Img .res{
    cursor:pointer;
    font-size: 12px;
    background: #ffe153;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    position:absolute;
}
.styles-Img .re{
    cursor:pointer;
    font-size: 12px;
    background: #eb4f38;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    position:absolute;
}


.styles-tab{
    float: right;
    width: 49%;
}
.styles-tab h4{
    text-align: left;
    font-size: 16px;
    margin-left: 40px;
    color: #666;
    font-weight: bold;
}
.table_s{
    margin-top: 50px;
}
.table_s tr{
    width: 48%;
    height: 40px;
}
.table_s  td{
    font-size: 12px;
    text-align: center;
}
.table_s .tr1{
    background: #f9f9f9 !important;
}
.table_s .td1,.td4{
    border: 1px solid #e5e5e5;
    font-weight: bold;
    color: #555;
    width: 51px;
}
.table_s .td2{
    font-weight: bold;
     border-top: 1px solid #e5e5e5;
     width: 206px;
      border-right: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
       color: #555;
}
.table_s .td3,.td6{
    border-right: 1px solid #e5e5e5;
    font-weight: bold;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; 
    color: #555;width: 41px;
    position: relative;
}
.td3s{
    width: 10px;
    height: 10px;
}
.table_s .tr2{
    
    background: #fff;
}
.table_d{
    width: 100%;
}
.IMG-posi{
    width: 1200px;
    position: relative;
}


.Img_text {
    position: absolute;
    top: -150px;
    left: 76px;
    width: 350px;
    height: 235px;
    padding: 14px;
    border: 1px solid #ccc;
    /* position: relative; */
    display: none;
    z-index: 200;
    background: #fff;
}
.Img_text p{
    color: #333;
    font-size: 14px;
    text-align: left;
}

.Img_text img {
    width: 350px;
    height: 200px;
    margin-top: 12px;
}
.Img_text:before {
    display: block;
    content: "";
    width: 51px;
    height: 27px;
    background: url(../img/icon_circle.png);
    position: absolute;
    left: -51px;
    bottom: 100px;
}
.styles-active1  div:hover .Img_text{
    display: block;
}
.styles-active2 > div:hover .Img_text{
    display: block;
}
.styles-active3 > div:hover .Img_text{
    display: block;
}
.legend_wrap{
    width: 100%;
}
.legend_wrap ul{
    font-size: 20px;
    overflow: hidden;
    padding: 20px 30px;
}
.legend_wrap ul li{
    float: left;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.legend_wrap ul li i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffe153;
    border-radius: 50%;
    margin-right: 5px;
    line-height: 100px;
}
.legend_wrap ul li.active i{
    background-color: #ff5f3f;
}

.title{
    box-shadow: 0px 2px 10px  #999;
    width:1200px;
    height: 70px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 352px;
    z-index: 1000;
    display: none;
    /* overflow: hidden; */
}
.title ul {
    height: 70px;
    font-size: 16px;
    /* font-weight: bolder; */
    color: #111;
    display: flex;
}
.title ul li{
    width: 100px;
    height: 67px;
    line-height: 70px;
    text-align: center;
    cursor:pointer;
}
.li-actives{
    color: #fe5842;
    border-bottom: 3px solid #fe5842;
}
.Img_textd {
    position: absolute;
    top: -145px;
    left: 77px;
    width: 350px;
    height: 235px;
    padding: 14px;
    border: 1px solid #ccc;
    /* position: relative; */
    display: none;
    z-index: 200;
    background: #fff;
}
.Img_textd p{
    color: #333;
    font-size: 14px;
    text-align: left;
}

.Img_textd img {
    width: 350px;
    height: 200px;
    margin-top: 12px;
}
.Img_textd:before {
    display: block;
    content: "";
    width: 51px;
    height: 27px;
    background: url(../img/icon_circle.png);
    position: absolute;
    left: -51px;
    bottom: 100px;
}
.Img_textdj {
    position: absolute;
    top: -121px;
    left: -420px;
    width: 350px;
    height: 235px;
    padding: 14px;
    border: 1px solid #ccc;
    /* position: relative; */
    display: none;
    z-index: 200;
    background: #fff;
    /* z-index: 1000; */
}
.Img_textdj:before {
    display: block;
    content: "";
    width: 51px;
    height: 27px;
    background: url(../img/iconfb.png);
    position: absolute;
    left: 378px;
    bottom: 100px;
}
.title-actives{
    display: block;
}
.iconsj{
    display: flex;
    justify-content: space-between;
}
.icon-actives{
    display: none;
}
tr{
    text-align: left;
}